:root {
  --clr-text: #c6ad92;
  --clr-primary: #8caa44;
  --clr-accent: #adb18c;

  --ff-title: "Crimson Text", sans-serif;
  --ff-serif: "Crimson Text", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-text);
}

/* TYPOGRAPHY */

h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h3 {
  font-family: var(--ff-title);
  line-height: 0.8;
}

h2 {
  font-size: 4rem;
}

p {
  margin-bottom: 0.85em;
}

/* NAV */
.logo {
  font-size: 3rem;
  margin: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-accent);
  color: var(--clr-text);
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 0.5rem;
  color: var(--clr-primary);
  text-decoration: none;
}

.nav-links li:hover {
  background-color: var(--clr-text);
}

/* HAMBURGER MENU WHEN SCREEN IS LESS THAN 600px */

.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: var(--clr-text);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: flex;
  }

  .nav ul {
    display: none;
  }
}
