:root {
  --clr-text: #262626;
  --clr-primary: #e2e8ce;
  --clr-accent: #acbfa4;

  --ff-title: "Bahnschrift SemiBold", sans-serif;
  --ff-serif: "Bahnschrift SemiBold", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-text);
}

body {
  margin: 0;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
p {
  margin: 0.5rem;
}

h2,
h3 {
  font-family: var(--ff-title);
  line-height: 0.8;
}

h2 {
  font-size: 4rem;
}

p {
  margin-bottom: 0.85em;
}

/* NAV */
.navbar {
  display: flex;
  position: relative;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary);
  color: var(--clr-accent);
}

.brand-title a {
  font-size: 2.5rem;
  margin: 0.5rem;
  text-decoration: none;
  color: var(--clr-text);
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: var(--clr-text);
  padding: 2rem;
}

.navbar-links li:hover {
  background-color: var(--clr-accent);
  border-style: solid;
  border-width: thick;
  border-bottom: var(--clr-primary);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--clr-accent);
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* FORM */

.register {
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: var(--ff-serif);
}

.reg-container {
  position: relative;
  width: 800px;
  height: 500px;
  background: var(--clr-primary);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}

.reg-container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.reg-container .user .img-box {
  position: relative;
  width: 50%;
  height: 100%;
  background: var(--clr-accent);
  transition: 0.5s;
}

.reg-container .user .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reg-container .user .form-box {
  position: relative;
  width: 50%;
  height: 100%;
  background: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.reg-container .user .form-box form {
  margin: 10px;
}

.reg-container .user .form-box form input {
  /* display: inline-grid; */
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.reg-container .user .form-box form input[type="submit"] {
  max-width: 100px;
  background: var(--clr-accent);
  color: var(--clr-text);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s;
  border-radius: 5%;
}

.reg-container .user .form-box form .login {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--clr-text);
  text-transform: uppercase;
  font-weight: 300;
}

.reg-container .user .form-box form .login a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

/* LOG IN BOX */

.reg-container .sign-in {
  pointer-events: none;
}

.reg-container.active .sign-in {
  pointer-events: initial;
}

.reg-container .sign-in .form-box {
  right: 100%;
}

.reg-container.active .sign-in .form-box {
  right: 0;
}

.reg-container .sign-in .img-box {
  right: -100%;
}

.reg-container.active .sign-in .img-box {
  right: 0;
}
