:root {
  --clr-text: #adb18c;
  --clr-primary: #8caa44;
  --clr-accent: #926d46;

  --ff-serif: "Crimson Text", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-text);
}
